<?xml version="1.0" encoding="UTF-8"?>
        <widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.consulenzainformatica_29041" android-versionCode="20" version="20.0 - 2015.08.09.07.40">
        <name>Consulenza informatica </name>
        <!-- Customize your app and platform with the preference element. -->
        <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
        <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
        <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
        <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
        <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
        <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
        <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->

        <!-- Core plugins -->
        <gap:plugin name="org.apache.cordova.battery-status" />
        <gap:plugin name="org.apache.cordova.camera" />
        <gap:plugin name="org.apache.cordova.media-capture" />
        <gap:plugin name="org.apache.cordova.console" />
        <gap:plugin name="org.apache.cordova.contacts" />
        <gap:plugin name="org.apache.cordova.device" />
        <gap:plugin name="org.apache.cordova.device-motion" />
        <gap:plugin name="org.apache.cordova.device-orientation" />
        <gap:plugin name="org.apache.cordova.dialogs" />
        <gap:plugin name="org.apache.cordova.file" />
        <gap:plugin name="org.apache.cordova.file-transfer" />
        <gap:plugin name="org.apache.cordova.geolocation" />
        <gap:plugin name="org.apache.cordova.globalization" />
        <gap:plugin name="org.apache.cordova.inappbrowser" />
        <gap:plugin name="org.apache.cordova.media" />
        <gap:plugin name="org.apache.cordova.network-information" />
        <gap:plugin name="org.apache.cordova.splashscreen" />
        <gap:plugin name="org.apache.cordova.vibration" />
        <!-- push notifications -->
        <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

        <!-- Third party plugins -->
        <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
        <gap:plugin name="com.phonegap.plugin.statusbar" />

        <!-- Define app icon for each platform. -->
        <icon src="icon.png" />

        <!-- Define app splash screen for each platform. -->
        <gap:splash src="startup.png"   gap:platform="android" gap:density="ldpi" />
        <gap:splash src="startup.png"   gap:platform="android" gap:density="mdpi" />
        <gap:splash src="startup.png"   gap:platform="android" gap:density="hdpi" />
        <gap:splash src="startup.png"   gap:platform="android" gap:density="xhdpi" />
        <gap:splash src="startup.png"   gap:platform="blackberry" />
        <gap:splash src="startup.png"   gap:platform="ios"     width="320" height="480" />
        <gap:splash src="startup.png"   gap:platform="ios"     width="640" height="960" />
        <gap:splash src="startup.png"   gap:platform="ios"     width="768" height="1024" />
        <gap:splash src="startup.png"   gap:platform="ios"     width="1024" height="768" />
        <gap:splash src="startup.png"   gap:platform="winphone" />

        <!-- Define access to external domains. -->
        <access origin="*"/> <!-- allow local pages -->
        </widget>